# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# executable files
test/rule_all_tests
test/flow2color
src/run

*cscope.out
