# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# executable files
tests/run_all_tests
tests/flow2color
tests/pyramid
tests/imop
tests/kmeans
src/run

*cscope.out
*.jpg
*.yml
*.xml
