# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# executable files
tests/tests
tests/flow2color
tests/pyramid
tests/imop
tests/kmeans
tests/image
tests/layers
tests/gc
tests/seg
src/em
src/run
src/of
gc/*

*cscope.out
*.jpg
*.bmp
*.yml
*.xml
